fastapi
uvicorn
motor
passlib[bcrypt]
pyjwt
pydantic
python-dotenv
slowapi
limits
chromadb
google-genai
cloudinary
python-multipart
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langchain-groq
langchain-chroma

