fastapi
uvicorn
motor
passlib[bcrypt]
pyjwt
pydantic
python-dotenv
slowapi
limits
google-genai
google-generativeai
cloudinary
python-multipart
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langchain-groq
PyMuPDF
pypdf
qdrant-client
openai
youtube-transcript-api
yt-dlp
requests
urllib3

